body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background: linear-gradient(to bottom right, #071421, #121111);
    height: 100vh;
}

header {
    background-color: #2e3744;
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 10%;
}

.header-text {
    color: white;
    font-size: 1.5rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700; /* Use bold font */
}

p {
    color: white;
    font-size: 100px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400; /* Use normal font */
}